.stat-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;


}

.icon-with-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    font-size: 18px;

}